<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">
  <style>
    #wrapper {
      background-color: lightgrey;
      padding-bottom: 50px;
      padding-left: 50px;
    }
    #main {
      margin-top: 15px;
      margin-left: 30px;
    }
    #one {
      padding: 10px;
      background-color: lightgreen;
      border-radius: 8px;
      width: 400px;
    }
  </style>
</head>
<body>
  <div id = "wrapper">
    <div id = "main">
      <h1>Ledger Transaction Details</h1><br>
      <h3>Detailed view of a transaction from the ledger</h3><br>
      <h4><u>Transaction #{{transactionId}}</u></h4>
      <div id = "one">
        <h4><b>{{transaction.action}}</b> ShintoCoin(s)</h4>
        <h4>Amount of coins owned: {{transaction.amount}}</h4>
        <h4>ShintoCoin amount: ${{transaction.value}}.00</h4>
      </div>
    </div>
  </div>
</body>