<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">
  <base href = "/">
  <style>
    #wrapper {
      background-color: lightgrey;
      padding-bottom: 50px;
      padding-left: 50px;
    }
    #main {
      margin-top: 15px;
      margin-left: 30px;
    }
  </style>
</head>
<body>
  <div id = "wrapper">
    <div id = "main">
      <h1>ShintoCoin Homepage</h1><br>
      <h4>Welcome to ShintoCoins! Earn coins by solving the questions shown
        in the "Mine Coins" page correctly!</h4>
      <h4>Buy coins and increase the value of the coins!</h4>
      <h4>You can also sell coins, but be careful! The values of the coins will decrease if you do!</h4>
      <h4>Click on "Browser Ledger" to view the history of your transactions on this website!</h4>
    </div>
  </div>
</body>